h1#title {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

td {
  width: 20vw;
  height: 20vw;
  font-size: 16vw;
  border: 4px solid black;
  font-family: monospace;
  text-align: center;
}

@media only screen and (orientation: landscape) {
  td {
    width: 20vh;
    height: 20vh;
    font-size: 16vh;
  }
}

* {
  user-select: none;
}
